extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.png', width='160')
		h1 Welcome
		p Welcome to Ocean Park Corporate App CMS
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
