extends ../base

include ../../../mixins/columns

block css
	if list.fieldTypes.code
		link(rel='stylesheet', href='/keystone/js/lib/codemirror/codemirror.css')

block js
	script.
		Keystone.list = !{JSON.stringify(list.getOptions())};
		Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };
		Keystone.itemId = '!{item.id}';
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/fields.js')
	script(src='/js/item.js')

block js_codemirror
	if list.fieldTypes.code
		script(src="/keystone/js/lib/codemirror/codemirror-compressed.js")
		
block content
	if successMessage
		div(class="alert alert-success")
			p #{successMessage}
	if !generateWinnersResult
		.lucky-draw-prize
			h2 	Luckydraw Picker
			form(method="post" enctype="multipart/form-data")
				div.form-group
					label(for="prizeName") Please input prize name:
					input(class="form-control" id="email" placeholder="Enter name" type="text" name="prizeName")
				div.form-group
					label(for="quota") Please input the quota:
					input(class="form-control" id="quota" placeholder="Enter quota" type="text" name="quota")
				div.form-group
					label(for="prizeIds") Please input prize Ids/ upload a CSV file:
					textarea(class="form-control" id="prizeIds" placeholder="exampleA, exampleB, exampleC " type="textarea" name="prizeIds")
					input(type="file" accept="text/csv" name="prizeIdsfile")
				div.actions
					input(class="btn btn-default btn-create btn-create-item" type="submit", value="Submit")
	if generateWinnersResult && savedWinner
		hr
		.luckydraw-result
			h1 Lucky draw result
			table(class="winner-result-table table table-bordered")
				thead
					tr
						th Winner
						th Email
						th RefNumber
						th PrizeName
						th PrizeId

				each winner in savedWinner
					tr
						td #{winner.chineseName}
						td #{winner.email}
						td #{winner.refNumber}
						td #{winner.prizeName}
						td #{winner.prizeId}
			a(class="btn btn-default btn-create btn-create-item" href='/keystone/lucky-draw-submissions/') Done
	if clearFunction
		hr
		.clear-result
			h2 Clear Luckydraw Result
		
		form(method="post" enctype="multipart/form-data")
			div.form-group
				label(for="prizeName") Reset the prize records named with :
				input(class="form-control" id="resetPrizeName" placeholder="Enter name" type="text" name="resetPrizeName")
			//- input(type="hidden" name="resetPrizeName" value=savedWinner[0].prizeName)
			input(type="hidden" name="resetPrize" value='true')
			div.actions
				input(class="btn btn-default btn-create-item" type="submit", value="Reset")
						