extends ../../../layouts/common

block css
	link(href="/css/main.css", rel="stylesheet")

block head
	script(type='text/javascript').
		var keystoneConfig = {
			cookies: "#{cookies.operator}",
			appToken: "#{appToken}",
			langCookies: "#{cookies.operatorLang}",
			cookiesConfig: !{JSON.stringify(cookieOptions)},
			user: !{JSON.stringify(user)},
			userType: "#{userType}",
			countries: !{JSON.stringify(countries)},
			setting: !{JSON.stringify(setting)},
			query: !{JSON.stringify(query)},
			inPark: true,
			native: false,
			parkError: '#{parkError}',
			language: '#{language}',
			singoutUrl: "#{signoutUrl}",
			landingUrl: "#{landingUrl}",
			initialStep: #{initialStep},
			submitLotteryUrl: "#{submitLotteryUrl}",
			finishLotteryUrl: "#{finishLotteryUrl}",
			promotionCode: "#{promotionNo}",
		};
	// customized controller for web main flow

block js
	script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
	script(src='/script/jquery.jSlots.js')
	script(src='/script/jquery.easing.1.3.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
	script(src='/script/native/app.js')
	script(src='/script/custom/common.js')
	script(src='/script/custom/game/function.js')
	
block content
	#page-draw-rule.page.container-fluid
		.bg
		if !(native && inPark)
			.button-box
					#g-logout-btn.logout.g-logout-btn
					#lang.styled-select.lang
						select
							option#1(value='en') Eng
							option#2(value='tc') 繁
							option#3(value='sc') 简
		.content
			h3.g-rule-title
			.g-rule-statement
			.g-rule-terms.terms
			.g-rule-remark
			button.ok.submit.g-native-camera-btn
		.g-promotion-code.last.bottom
			.g-promotion-label
			.g-promotion-value
	.g-h-main-container.app-view-page.page.container-fluid
		header
			img.g-header-title-label
		#unavailable-draw
		form#form-lucky-draw.form.g-h-form(action='#{action}', method='POST')
			.button-box
				.g-rule-btn
				#g-logout-btn.logout.g-logout-btn
				#lang.styled-select.lang
					select
						option#1(value='en') Eng
						option#2(value='tc') 繁
						option#3(value='sc') 简
			label.g-name-label
			input(type='text', name='name', class='g-name-input', required='required')
			label.g-id-label
			input(type='text', name='card', maxlength='4', required='required')
			label.g-email-label
			input(type='text', name='email', class='g-email-input', required='required')
			label.g-confirmEmail-label
			input(type='text', name='confirmEmail', required='required')
			label.g-ticketNo-label
			input(type='text', name='ticketNo', maxlength='36', required='required')
			label.g-telephone-label
			.telephone
				.styled-select
					select(name='country')
				input(type='text', name='phone', minlength='8', maxlength='15', required='required')
			.required-label.g-required-label
			.terms.prev.required
				label.checkbox-terms
					input(type='checkbox', name='terms', required='required')
					i
					label.label-terms.g-terms-label
			.terms.prev
				label.checkbox-terms
					input(type='checkbox', name='marketing')
					i
					label.label-terms.g-terms-marking-label
			button#g-submit-btn.submit.send
			.g-promotion-code.bottom
				.g-promotion-label
				.g-promotion-value
			input(type='hidden', name='type')
			input(type='hidden', name='deviceId', value='#{deviceId}')
			
		.loader
	.popup-mask
		.terms-popup.popup
			i.cancel
			.content
	.page-draw-result.app-view-page
		.wrapper
			#coin
			#bg
			#popup.g-congrad-container.content
				.g-relative-container.gift.popup-wrapper
					.img-congrat
						img.g-congrad-head
					.g-congrad-center-pos.g-congrad-character.getWinner
						img.g-game-result-character
				.g-congrad-body.content
				.g-relative-container.g-congrad-footer
					img(src='/img/congrat_r_ft.png')
					button.g-congrad-center-pos.ok.submit.g-native-banhome-btn.send
			//- #popup
			//- 	.popup-wrapper
			//- 		.img-congrat
			//- 			img.congrat
			//- 		span.getWinner
			//- 			img
			//- 		.content
			//- 			.g-content-wrapper
			//- 				.desc.g-prize-desc
			//- 				.remark.g-remark
			//- 				.reminder.g-reminder
			//- 			button.submit.g-native-banhome-btn
			.frame
			.white-bg
				.sub-bg
			.game-title
			.slot-wrapper
				ul.slot
				.button-group
					button#playBtn.show(type='button')
						img
					button#stopBtn(type='button')
						img
		.g-promotion-code.last.bottom
			.g-promotion-label
			.g-promotion-value
		