doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover")		
		block meta

		title= title || 'OP Master App CMS'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/css/site.sass
		link(href="/css/site.css", rel="stylesheet")
		// Customized style for app
		link(href="/css/web.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css
		//- JAVASCRIPT
		//- jQuery 1.11.1 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.3 (also bundled) for better performance.
		script(src='/script/jquery/jquery-1.11.2.min.js')
		script(src='/script/js.cookie.js')
		// Localization Pack
		script(src='/script/locales/pack.js')
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.4.min.js
		script(src='/script/bootstrap/bootstrap-3.3.4.min.js')
		script(src='/script/jquery.localize.min.js')
		
		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- BODY
		#body

			block content

		//- Include template-specific javascript files by extending the js block
		block js
