/* 
* @Author: patrickng
* @Date:   2016-01-27 14:44:58
* @Last Modified by:   patrickng
* @Last Modified time: 2016-01-28 15:41:25
*/
h3.form-heading, .field.field-type-boolean, .field.field-has-label{
	display:none;
}

.field.field-type-name, .field.field-type-email, .field.field-type-password{
	display:block;
}

.item-breadcrumbs{
	display:none;
}