extends base

block js
	script(src='/js/list.js')
	script(src='/keystone/js/lib/browserified/querystring.js')
	script(src='/keystone/js/lib/browserified/queryfilter.js')
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/fields.js')
			
block content
	//- New React View
	//- ------------------------------
	div unauthorized
	
