extends ../../layouts/default

block head
	link(href="/styles/tests/clientapitest.css", rel="stylesheet")

block content
	div.container-fluid
		div.row
			div.col-sm-3.col-md-2.sidebar
				- for (var i = 0; i < apiGroupArray.length; i++)
					ul.nav.nav-sidebar
						li 
							h4 #{apiGroupArray[i].category}
						- for (var j = 0; j < apiGroupArray[i].apis.length; j++)
							li
								a(href='##{apiGroupArray[i].apis[j].id}') #{apiGroupArray[i].apis[j].name}
			div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h1 Client API Test Form
					- for (var i = 0; i < apiGroupArray.length; i++)
							h2 #{apiGroupArray[i].category}
							- for (var j = 0; j < apiGroupArray[i].apis.length; j++)
								h3(id='#{apiGroupArray[i].apis[j].id}') #{apiGroupArray[i].apis[j].name}
								div.form
									form(role='form',action="/",method="POST")
										input(type='hidden',name="action",value='#{apiGroupArray[i].apis[j].reqAction}')
										- for (var k = 0; k < apiGroupArray[i].apis[j].values.length; k++)
											if apiGroupArray[i].apis[j].values[k].type == 'text'
												.form-group
													label #{apiGroupArray[i].apis[j].values[k].label}
													input(class='form-control',type='text',name="#{apiGroupArray[i].apis[j].values[k].name}")
											else if apiGroupArray[i].apis[j].values[k].type == 'checkbox'
												.checkbox
													label
													input(type='checkbox',name="#{apiGroupArray[i].apis[j].values[k].name}")
													|  #{apiGroupArray[i].apis[j].values[k].label}
											else if apiGroupArray[i].apis[j].values[k].type == 'select'
												.form-group
													label #{apiGroupArray[i].apis[j].values[k].label}
													select(class='form-control',name="#{apiGroupArray[i].apis[j].values[k].name}")
														- for (var l = 0; l < apiGroupArray[i].apis[j].values[k].typeValue.length; l++)
															option(value="#{apiGroupArray[i].apis[j].values[k].typeValue[l]}") #{apiGroupArray[i].apis[j].values[k].typeDisplayValue[l]}
											else if apiGroupArray[i].apis[j].values[k].type == 'date'
												.form-group
													label #{apiGroupArray[i].apis[j].values[k].label}
													input(class='form-control',type='date',name="#{apiGroupArray[i].apis[j].values[k].name}")
										input.btn.btn-default(type='submit',value='Submit')