/*
* Nic Wong
*/
*::selection,*::-moz-selection {
    background: none; /* WebKit/Blink Browsers */
  }

.page-draw-result img{
    width: 100%;
    height: auto;
}
.button-group button{
    outline: none;
    background: none;
    border: 0;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    width: 180px;
    /* width: 350px; */
    height: auto;
    cursor: pointer;
    z-index: 4;
    -webkit-tap-highlight-color: transparent;
}
.button-group  button:active {
    background: none
}
.button-group  button.show{
    opacity: 1;
    visibility: visible;
}
html, 
.page-draw-result{
    background-color: #BC2132;
}
.wrapper{
    width: 100%;
    margin: auto;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 50ms ease-in;
    transition: opacity 50ms ease-in;
}
.wrapper.loaded{
    opacity: 1;
}
#coin{
    width: 100%;
    height: 100%;
    background-image: url('../img/coin.png');
    /* background-size: 120%; */
    background-size: 60%;
    background-repeat: no-repeat;
    
    background-position: center 60%;
    position: absolute;
    z-index: 2;
}
#bg{
    content: '';
    width: 100%;
    /* height: 30vh; */
    height: 340px;
    background-image: url('../img/bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}
#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    /* display: flex; */
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 100px;
}
#popup.en{
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 100px;
}
#popup .popup-wrapper{
    /* position: relative; */
    width: 100%;
    /* height: 100%;
    padding-top: 40px; */
    max-width: 650px;
    margin: auto;
}
#popup .popup-wrapper #congrat{
    position: relative;
    width: 100%;
    height: auto;
}
#popup .popup-wrapper .content{
    /* position: relative; */
}
#popup .popup-wrapper .getWinner{
    /* position: absolute;
    width: 50%;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;                                                                                                      */
}
.frame{
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 860px;
    height: 568px; */
    width: 470px;
    height: 310px;
    display: block; /* to size width correctly, can use float too, or width*/
    margin: auto;
    display: block;
    background-image: url('../img/slot_frame.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    z-index: 3;
}
.white-bg{
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 690px;
    height: 505px; */
    width: 395px;
    height: 278px;
    display: block; /* to size width correctly, can use float too, or width*/
    margin: auto;
    display: block;
    overflow: hidden;
    background: #FFF;
    border-radius: 10px;
    z-index: 2;
}
.white-bg .sub-bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.white-bg .sub-bg::before {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #666666, #fff);
}
.white-bg .sub-bg::after {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, #666666, #fff);
}
.title{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    /* width: 800px; */
    width: 400px;
    z-index: 2;
}
.slot-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
}
.jSlots-wrapper {
    overflow: hidden; /* to hide the magic */
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 682px;
    height: 480px; */
    width: 370px;
    height: 250px;
    display: block; /* to size width correctly, can use float too, or width*/
    margin: auto;
    display: block;
    z-index: 2;
}
.slot{
    width: 800%;
    height: 100%;
    padding: 0;
    margin: auto;
}
.slot li{
    float: left;
    list-style: none;
    width: calc(100% / 8);
    height: 100%;
    box-sizing: border-box;
}
.slot li img{
    width: auto;
    margin: auto;
    height: 100%;
    max-height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 3){
    #coin{
        background-size: 150%;
        background-position: center 50%;
    }
    .button-group button{
        bottom: 15%;
    }
    .title {
        top: 15%;
    }
}
@media only screen and (min-width: 768px){
    .button-group button{
        width: 250px;
    }
}
@media only screen and (max-width: 1024px){

    #coin{
        background-size: 110%;
    }
    .frame{
        width: 90%;
        /* calc(100% - 80px); /* 1.531 */
        /* width: 800px; */
        height: auto;
    }
    .white-bg{
        width: calc(100% - 170px);
        height: auto;
        border-radius: 25%;
    }
    .jSlots-wrapper{
        width: calc(100% - 170px);
        height: auto;
    }
    #popup .popup-wrapper{

    }
    #popup.en .popup-wrapper .getWinner {
        top: 30px;
    }
    #popup .popup-wrapper .getWinner{
        /* top: 90px; */
    }

}
@media only screen and (max-width: 767px){
    .button-group button{
        width: 150px;
    }

/* 
@media screen and (orientation:landscape) and (min-width: 320px) {
    button{
        width: 150px;
    }
    .frame {
        width: 480px;
        height: 315px;
    }
    .white-bg {
        width: 415px;
        height: 280px;
    }
    .jSlots-wrapper {
        width: 412px;
        height: 260px;
    }
}
@media screen and (orientation:landscape) and (min-width: 768px) {
    button{
        width: 250px;
        bottom: 5%;
    }
    #coin{
        background-size: 80%;
    }
    .frame{
        width: 580px;
        height: 386px;
    }
    .white-bg{
        width: 535px;
        height: 340px;
    }
    .jSlots-wrapper{
        width: 462px;
        height: 320px;
    }
    .slot li img{
        width: 70%;
    }
    #popup .popup-wrapper{
        width: 50%;
    }
    #popup .popup-wrapper .getWinner{
        width: 55%;
    }
}
@media screen and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 3){
    button{
        width: 150px
    }
    #coin {
        background-size: 50%;
    }
    .frame{
        width: 400px;
        height: 271px;
    }
    .white-bg {
        width: 375px;
        height: 235px;
    }
    .jSlots-wrapper {
        width: 372px;
        height: 220px;
    }
    #popup .popup-wrapper{
        width: 30%;
    }
    #popup .popup-wrapper .getWinner {
        width: 50%;
        top: 30px;
    }
} */