@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css?family=PT+Serif|Open+Sans:300,400,600,700,800')
}

body{
    font-family: "Open Sans", sans-serif;
    background: #BE1F2D;
}

.content-block{
  display: flex;
  background: #BE1F2D;
}

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
.page {
    position: relative;
    min-height: 100vh;
    z-index: 0;
}
.bg {
    background: url('../img/bg2.png');
    background-size: contain;
    background-position: 50% 0%;
    max-height: 420px;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.form label {
    padding: 0;
    margin: 15px 0 5px 0;
    font-size: 14px;
    font-weight: normal;
}
.form div.error-box {
    width: 100%;
    color: #ff474f;
    padding: 0 10px;
    margin: 5px 0;
}
.form input.error,
.form div.error {
    border: 1px solid #ff474f;
}
.form input.error::placeholder {
    color: #ff474f;
}
.form input {
    outline: none;
    border: none;
    border-radius: 5px;
}
.form input[type='text'],
.form input[type='password'] {
    width: 100%;
    padding: 6px 10px; 
}
button.submit {
    max-width: 150px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.loader {
    border: 6px solid #dedede;
    border-radius: 50%;
    border-top: 6px solid #ff474f;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
select,
select:focus {
    border: none;
    outline: none;
}
select {
    background: transparent;
    width: calc(100% + 20px);
    padding: 6px 10px;
    cursor: pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.styled-select {
    display: inline-block;
    background: #e6e6e6;
    border-radius: 10px;
    padding-right: 10px;
    position: relative;
}
.styled-select::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
}

/* page-login */
.page-content {
    display: flex;
    background: #BE1F2D;
}
.page-content .container {
    display: flex;
    height: 100%;
}
/* .g-h-login{
    padding: 0 50px;
} */
.g-h-login {
    opacity: 0;
    /* -webkit-animation: fadein 3s forwards;
    -moz-animation: fadein 3s forwards; 
    -ms-animation: fadein 3s forwards; 
    -o-animation: fadein 3s forwards; 
    animation: fadein 3s forwards; */
}
.g-h-login input[type='text'], .g-h-login input[type='password'] {
    padding: 15px 10px;
}
.g-coin-bg {
    background-image: url('../img/coin.png');
    position: absolute;
    /* top: 20vh; */
    /* bottom: 0; */
    left: 0;
    right: 0;
    width: 600px;
    height: 500px;
    display: block; /* to size width correctly, can use float too, or width*/
    margin: auto;
    display: block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    z-index: -1;
}
.g-h-login {
    max-width: 300px;
    position: relative;
    padding: 0 50px;
}
.g-h-login label {
    color: #fff;
}
.g-h-login input {
    padding: 10px;
}

.g-h-login button.submit {
    color: #ca2e35;
    background: #ffeeb9;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}
.g-h-login button.submit:hover {
    background: #fdb858;
}

.g-native-module #form-lucky-draw.g-h-form{
    padding-bottom: 50px;
}

/* g-h-main-container */
.g-h-main-container {
    display: none;
    padding-bottom: 50px;
    background: white;
}
.g-h-main-container header {
    background: url('../img/bg2.png');
    background-size: contain;
    background-position: 50% 0%;
    text-align: center;
    position: relative;
    padding: 15px 0;
    margin: 0 -15px;
}
.g-h-main-container header h4 {
    font-weight: 900;
    color: #f0df88;
    padding: 15px;
    filter: drop-shadow(1px 1px 2px #000)
            drop-shadow(1px -1px 2px #000)
            drop-shadow(-1px -1px 2px #000)
            drop-shadow(-1px 1px 2px #000000);
}
.g-h-main-container header img.g-header-title-label{
    width: 250px;
}
.button-box {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    /* position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0,-50%); */
}
.button-box .logout, .button-box .g-rule-btn {
    cursor: pointer;
    background: #F6E178;
    border-radius: 10px;
    padding: 6px 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}
#played-draw{
    color: red;
    text-align: left;
}
.button-box #lang, .button-box .g-rule-btn {
    background: #F6E178;

    /* margin-left: 15px; */
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}
.g-h-main-container #unavailable-draw {
    margin-top: 60px;
    text-align: center;
}
#form-lucky-draw {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 500px;
}
#form-lucky-draw label {
    color: #6d6d6d;
}
#form-lucky-draw input {
    background: #e6e6e6;
    
}
#form-lucky-draw input.readonly {
    background: transparent;
    padding-left: 0;
     /* padding-bottom: 20px; */
    border-radius: 0;
    color: #6d6d6d;
}
#form-lucky-draw input::placeholder {
    color: #a5a5a5;
    text-align: center;
}
#form-lucky-draw .telephone {
    display: flex;
    width: 100%;
    border-radius: 10px;
}
#form-lucky-draw .telephone .styled-select {
    width: 100px;
    border-right: 2px solid #c3bdbd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#form-lucky-draw .telephone input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#form-lucky-draw .required-label {
    margin-top: 15px;
}
#form-lucky-draw .terms {
    border: none !important;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
#form-lucky-draw .terms .label-terms {
    margin: 0 0 5px 0;
    text-align: justify;
    display: inline;
    line-height: 23px;
}
#form-lucky-draw .terms .label-terms a,
#page-draw-rule .g-rule-terms a{
    cursor: pointer;
    color: #28b396;
    border-bottom: 1px solid #28b396;
}
#form-lucky-draw .terms .label-terms a.nounderline,
#page-draw-rule .g-rule-terms a.nounderline{
    text-decoration: none !important;
}

/* #form-lucky-draw .terms.prev .checkbox-terms {
    margin: 0 15px 0 0;
} */
#form-lucky-draw .terms .checkbox-terms {
    padding: 0;
    margin-top: 0;
    /* text-align: justify; */
}
#form-lucky-draw .terms .checkbox-terms i {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #28b396;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
#form-lucky-draw .terms .checkbox-terms.left {
    margin-right: 0;
    margin-left: 5px;
}
#form-lucky-draw .terms .checkbox-terms input:checked ~ i {
    background: #28b396;
}
#form-lucky-draw .terms .checkbox-terms input:checked ~ i::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-image: url('../img/tick.svg');
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#form-lucky-draw .terms .checkbox-terms input {
    display: none;
}
button.submit, .g-native-banhome-btn {
    color: #fff;
    background: #28b396;
}
button.submit:hover, .g-native-banhome-btn:hover {
    background: #17d4ad;
}
.g-native-banhome-btn {
    color: #fff !important;
    background: #28b396 !important;
}
.g-native-banhome-btn:hover {
    background: #17d4ad !important;
}
.g-congrad-button{
    margin: 10px 0;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}
.g-congrad-button button.tpl{
    display: none;
}
.g-congrad-button button {
    display: inline-block;
    width: 45%;
    padding: 10px 0;
    margin: 0 5px;
    min-height: 60px;
/*    font-size: 11px;*/
    border: 0px;
/*    border-radius: 8px;*/
/*    color: white;*/
    background-color: transparent;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    outline: none;
/*    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));*/
}

.g-congrad-button .g-congrad-check-ecoupon.en{
/*    background-color: #03C1DE;*/
    /*background-image: url(../img/button_blue_en.png);*/
}
.g-congrad-button .g-congrad-scan-other.en{
/*    background-color: #FE7503;*/
    /*background-image: url(../img/button_orange_en.png);*/
}

.g-congrad-button .g-congrad-check-ecoupon.tc{
/*    background-color: #03C1DE;
    background-image: url(../img/button_blue_en.png);*/
}
.g-congrad-button .g-congrad-scan-other.tc{
/*    background-color: #FE7503;*/
    /*background-image: url(../img/button_orange_en.png);*/
}

.g-congrad-button .g-congrad-check-ecoupon.sc{
/*    background-color: #03C1DE;*/
    /*background-image: url(../img/button_blue_en.png);*/
}
.g-congrad-button .g-congrad-scan-other.sc{
/*    background-color: #FE7503;*/
    /*background-image: url(../img/button_orange_en.png);*/
}

.popup-mask {
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.terms-popup {
    display: none;
    z-index: 100;
    width: calc(100% - 30px);
    max-width: 700px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.terms-popup .content {
    padding: 35px 25px;
    overflow-y: auto;
    max-height: 400px;
}
.cancel {
    content: '';
    cursor: pointer;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../img/cancel.svg');
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 28px;
}
.g-h-main-container.app-view-page form{
    padding-left: 30px;
    padding-right: 30px;
}
.g-h-main-container .content {
    padding: 35px 15px;
}
.g-h-main-container .loading {
    background: #a5a5a5;
    width: 100%;
    display: none;
    height: calc(100vh - 69px);
}
#page-draw-rule {
    background: #BE1F2D;
    text-align: center;
    /* min-height: 100vh; */
    height: auto;
    padding: 0 50px 30px 50px;
    display: none;
}
@media screen and (min-width: 300px) {
    #page-draw-rule {
        padding: 0 20px 30px 20px;
    }
}
#page-draw-rule .content {
    background: #F6E178;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    padding: 30px;
    margin: 60px auto 30px auto;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5))

}
#page-draw-rule .g-native-camera-btn {
    margin-top: 30px;
}
#page-draw-rule .content h3{
    color: #28b396;
    margin-top: 0;
    font-size: 30px;
}

#page-draw-rule .content{
    max-width: 500px;
}

#page-draw-rule .bg{
    background-repeat: repeat-x;
}

#page-draw-rule .g-rule-terms.terms,
#page-draw-rule .g-rule-statement,
#page-draw-rule .g-rule-remark{
    text-align: left;
}

#page-draw-rule .g-rule-statement{
    margin-bottom: 20px;
}
#page-draw-rule .g-rule-statement ol,
#page-draw-rule .g-rule-statement ul {
    padding-left: 25px;
}

#page-draw-rule .g-rule-statement ol li,
#page-draw-rule .g-rule-statement ul li {
    list-style: decimal;
}
#page-draw-rule .g-rule-remark{
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 20px;
    text-align: justify;
}
/* page-congratulations */
#page-draw {
    background: #BE1F2D;
    text-align: center;
    display: none;
    /* min-height: 700px; */
    height: auto;
}

#popup.en .popup-wrapper img.congrat {
    /* max-height: 90vh; */
}

.game-title {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 85%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width: 400px) {
    .game-title {
        top: -20px !important;
    }
}

.g-prize-desc {
    /* line-height: 20px; */
    font-weight: bold;
    /* font-size: 14px;
    text-align: center; */
    
}
.g-content-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    bottom: 60px;
}
.g-native-module .g-content-wrapper{
    bottom: 60px;
}

.content button.ok {
    background: #BE1D2D;
    color: #F6E178;
    margin: 0 auto;
    /* position: absolute;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    right: 0; */
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.content button.ok.float {
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 0 auto;
}
#page-draw .content button.ok:hover {
    background: #de2033;
}

.g-promotion-code{
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 9px;
    /* bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; */
}

.g-promotion-code.bottom{
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.g-promotion-code.last{
    color: white;
}

.g-promotion-code div {
    display: inline-block;
    padding-right: 5px;
}

.page-draw-result{
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page-draw-result .g-prize-desc{

}
button.submit.g-native-banhome-btn{
    margin-top: 2px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}


.g-congrad-container {
    width: 100%;
    margin: auto;
}

.g-congrad-container .g-relative-container{
    position: relative;
    margin-top: -1px;
    max-width: 650px;
    margin: 0 auto;
}
.g-congrad-container .g-congrad-head {
    /* max-width: 100%; */
    max-width: 650px;
    height: auto;
}
.g-congrad-container .g-congrad-center-pos {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.g-congrad-container .g-congrad-character{
    top: 30px;
}

/* .g-congrad-container.en .g-congrad-character{
    top: 30px;
} */

.g-congrad-container .g-congrad-character img {
    max-width: 55%;
    height: auto;
}

.g-congrad-container.en .g-congrad-character img{
    max-width: 45%;
}

.g-congrad-container .g-congrad-body {
    background: url('../img/congrat_r_bg.png') repeat-y top left; 
    background-size: contain; 
    text-align: justify;
    padding: 10px 60px 20px 50px;
    max-width: 650px;
    margin: 0 auto;
}

.g-congrad-container.en .g-congrad-body {
    padding-top: 20px;
}
.g-congrad-container .g-congrad-body h3 {
    font-size: 17px;
    text-align: center;
    margin: 0 0 30px 0;
    line-height: 25px;
}
.page-draw-result .g-congrad-container .g-congrad-body h3 {
    margin-bottom: 10px;
}

.g-congrad-container .g-congrad-body .g-congrad-body-reminder,
.g-congrad-container .g-congrad-body .g-congrad-body-remark{
    font-size: 14px;
}
.page-draw-result .g-congrad-container .g-congrad-body .g-congrad-body-remark {
    margin-top: 10px;
}
.g-congrad-container .g-congrad-body .g-congrad-body-remark{
    margin-top: 30px;
    color: #3fb8c8;
}
.g-congrad-container .g-congrad-footer img {
    max-width: 100%;
    height: auto;
}
.g-congrad-container .g-congrad-footer button.g-again-btn {
    bottom: -10px;
}

#page-draw.hotel-page{
    padding: 0 0 50px 0;
    overflow-y: auto;

}

#page-draw.hotel-page .g-promotion-code.bottom{
    bottom: 10px;
}
/* turn to desktop size */
@media screen and (min-width: 1024px) {
    /* .g-congrad-container.en .g-congrad-character img {
        max-width: 45% !important;
    } */
    .content button.ok.float{
        bottom: 0px;
    }
}
/* turn to ipad or desktop size */
@media screen and (min-width: 768px) {
    /* .g-congrad-container .g-congrad-character img{
        max-width: 45%;
    } */
    .g-congrad-container.en .g-congrad-character img {
        max-width: 50%;
    }

    .content button.ok.float{
        bottom: initial;
    }
    #page-draw.hotel-page{
        padding-bottom: 70px;
    }
    .g-promotion-code div{
        font-size: 15px;
    }
    .g-congrad-container{
        width: 650px;
        margin-top: 140px;
    }
    .page-draw-result .g-congrad-container {
        margin-top: 0;
    }
    .page-draw-result .g-congrad-container .g-congrad-body {
        padding-left: 110px;
        padding-right: 120px;
        max-width: 650px;
        margin: 0 auto;
    }
    .g-congrad-container .g-congrad-head {
        max-width: 650px;
        margin: 0 auto;
    }
    .g-congrad-container .g-congrad-body{
        padding-left: 60px;
        padding-right: 70px;
    }
    .g-coin-bg{
        top: 140px;
    }
    /* .page-draw-result .g-coin-bg {
        top: 0;
    } */
    .game-title {
        width: 500px;
        height: 150px;
    }
    .g-congrad-container .g-relative-container{
        max-width: 650px;
        margin: 0 auto;
    }
    .g-congrad-container .g-congrad-character{
        top: 45px;
    }

    .g-congrad-container .g-congrad-body h3{
        font-size: 25px;
        line-height: 35px;
    }

    .g-congrad-container .g-congrad-body .g-congrad-body-reminder,
    .g-congrad-container .g-congrad-body .g-congrad-body-remark{
        font-size: 20px;
    }
    
}
@media screen and (max-width: 768px) {

    .content button.ok.float{
        bottom: initial;
    }
    .g-coin-bg{
        width: 100%;
    }
    
    #form-lucky-draw{
        padding: 0 20px;
    }
    .bg {
        background-size: cover;
        max-height: 300px;
    }
    .g-h-main-container header h4{
        padding: 0;
    }
}
@media screen and (min-width: 600px) {
    .bg {
        background-size: contain;
    }

    .g-h-main-container header .button-box {
        display: flex;
    }

    .g-h-main-container header .button-box .logout,
    .g-h-main-container header .button-box .g-rule-btn {
        margin-bottom: 0;
        margin-right: 15px;
        /* transform: translate(0,-120%); */
    }
}
@media screen and (min-width: 600px) {
    .g-congrad-container .g-congrad-body {
        padding: 10px 100px 20px 110px;
    }

}
@media screen and (max-width: 600px) {
    .bg {
        background: url('../img/mbg.png');
        background-size: cover;
    }
}
@media screen and (min-height: 500px) {
    .page-draw-result #popup.en .popup-wrapper .getWinner {
        /* top: 60px; */
    }
    #popup.en .popup-wrapper .getWinner {
        top: 30px;
    }
}
@media screen and (max-height: 600px) {
    #popup .popup-wrapper .getWinner {
        height: 130px;
    }
}
@media screen and (max-height: 400px) {
    .g-congrad-button div {
        font-size: 12px;
    }
}