extends ../base

include ../../../mixins/columns

block css
	if list.fieldTypes.code
		link(rel='stylesheet', href='/keystone/js/lib/codemirror/codemirror.css')

block js
	script.
		Keystone.list = !{JSON.stringify(list.getOptions())};
		Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };
		Keystone.itemId = '!{item.id}';
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/fields.js')
	script(src='/js/item.js')

block js_codemirror
	if list.fieldTypes.code
		script(src="/keystone/js/lib/codemirror/codemirror-compressed.js")
		
block content
	if successMessage
		div(class="alert alert-success")
			p #{successMessage}
	.lucky-draw-prize
		h2 	Entity Maintenance Schedule Import Tool
		form(method="post" enctype="multipart/form-data")
			div.form-group
				label(for="maintenanceIds") Please input a CSV file:
				input(type="file" accept="text/csv" name="maintenanceIdsfile")
			div.actions
				input(class="btn btn-default btn-create btn-create-item" type="submit", value="Submit")
	if savedResult
		hr
		.luckydraw-result
			h4 Imported Detail
			table(class="winner-result-table table table-bordered")
				thead
					tr
						th Entity
						th Update Time
						th Start Time
						th End Time
				each result in savedResult
					tr
						td #{result.entity}
						td #{result.updateTime}
						td #{result.startTime}
						td #{result.endTime}