/* 
* @Author: patrickng
* @Date:   2016-01-06 11:14:34
* @Last Modified by:   patrickng
* @Last Modified time: 2016-01-06 12:19:52
*/

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a,.nav-sidebar > li > h4 {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Form
 */

.form {
  position: relative;
  padding: 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

/*
 * Footer
 */

#footer{
	display:none;
}