extends ../../layouts/common
block meta
	meta(http-equiv='EXPIRES', content='Mon, 22 Jul 2002 11:12:01 GMT')
	
block head
	script(type='text/javascript').
		var keystoneConfig = {
			cookies: "#{cookies}",
			langCookies: "#{cookiesLang}",
			forceCheck: true,
			cookiesConfig: !{JSON.stringify(cookieOptions)},
			landingUrl: "#{landingUrl}",
		};
	// customized controller for web main flow
	script(src='/script/custom/common.js')
	script(src='/script/custom/game/function.js')

block content
	.g-signin.content-block.page.container-fluid
		.bg
		form#g-h-form.g-h-login.form(action='#{action}', method='POST')
			label.g-username-label
			input(type='text', autocomplete='off', name='staffId')
			label.g-password-label
			input(type='password', autocomplete='off', name='password')
			input(type='hidden', name='type', value='#{type}')
			button#g-login-btn.submit.login.g-login-btn(type='button')